<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->


<div class="header">
  <div class="container">
    <div class="row justify-content-center logo">
      <img src="assets/images/circle.png">
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <a routerLink="/">Header1</a>
        </div>
        <div class="col-md-auto">
          <a routerLink="/">Header2</a>
        </div>
        <div class="col-md-auto">
          <a routerLink="/">Header3</a>
        </div>
        <div class="col-md-auto">
          <a routerLink="/">Header4</a>
        </div>
      </div>

  </div>
</div>



<div class="middle">
  <div class="container">
    <app-exchange></app-exchange>
  </div>
</div>



<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/">Footer1</a>
        <ul class="list-unstyled mb-0">
          <li>
            Text1a
          </li>
          <li>
            Text1b
          </li>
          <li>
            Text1c
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <a routerLink="/">Footer2</a>
        <ul class="list-unstyled mb-0">
          <li>
            Text2a
          </li>
          <li>
            Text2b
          </li>
          <li>
            Text2c
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <a routerLink="/">Footer3</a>
        <ul class="list-unstyled mb-0">
          <li>
            Text3a
          </li>
          <li>
            Text3b
          </li>
          <li>
            Text3c
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <a routerLink="/">Footer4</a>
        <div class="row social">
          <img src="src/assets/images/square.png">
          <img src="src/assets/images/square.png">
          <img src="src/assets/images/square.png">
        </div>
      </div>
    </div>
  </div>
</div>
